body {
  background-color: rgb(220, 187, 241);
}

.main-header {
  margin: 10px;
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
  border-top: 10px solid #1098ad;
  text-align: center;
}

nav {
  margin-bottom: 20px;
  text-align: center;
}

nav a {
  color: #1098ad;
  padding: 10px;
  font-size: 18px;
  border: 5px double;
  text-decoration: none;
  margin: 0 5px;
}

nav a:hover {
  color: orangered;
  font-weight: bold;
}

nav a:active {
  background-color: black;
}

h1 {
  text-align: center;
}

img {
  width: 600px;
  height: 400px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

footer {
  text-align: center;
  font-family: Monotype Corsiva;
  font-size: 16px;
  background-color: #f7f7f7;
  border-bottom: 10px solid hsl(188, 83%, 37%);
}

@media (max-width: 1000px) {
  .cc {
    padding: 10px; 
  }
  img {
    max-width: 80%; 
  }
  body{
    background-color: #cb65f0;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 0.8em;
    background-color: #8c49cf;
  }
  .cc {
    padding: 5px; 
  }
  img {
    max-width: 60%; 
  }
}
